<div class="d-flex flex-row">
    <div class="custom-userposts w-50 me-3">
        <h2 class="m-3">{{user.username}}'s Posts</h2>
        {{!-- Renders each article the user created. --}}
        {{#each user.posts as |post|}}
        <div class="card m-3">
            <div class="card-header d-flex flex-row justify-content-between">
                <h4>{{post.title}}</h4>
                <p>{{ formatDate post.createdAt}}</p>
            </div>
            <div class="card-body">{{formatText post.description}}...<br><a href='/api/posts/{{post.id}}'>Click to read more</a></br></div>
            <div class="card-footer">
                <button type="submit" class="custom-delete-btn m-1 p-2 rounded-2" id="{{post.id}}">Delete</button>
                <button 
                    type="button" 
                    class="custom-update-btn m-1 p-2 rounded-2" 
                    data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop"
                    id="{{post.id}}">Update
                </button>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="custom-newpost w-50 m-3">
        <button type="submit" class="custom-createpost-btn m-3 p-3 rounded-2">➕ Add Post</button>
        {{!-- New Post form --}}
        <form class="custom-postform">
            <div class="m-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control border border-dark" id="title" name="title">
            </div>
            <div class="m-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control border border-dark" id="description" name="description"></textarea>
            </div>
            <button type="submit" class="custom-post-btn m-3 p-2 rounded-2">Submit</button>
        </form>
    </div>
</div>


<!-- Update form Modal -->

<div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="custom-updateForm">
            <div class="m-3">
                <label for="update-title" class="form-label">Title</label>
                <input type="text" class="form-control border border-dark" id="update-title" name="title" value="">
            </div>
            <div class="m-3">
                <label for="update-description" class="form-label">Description</label>
                <textarea class="form-control border border-dark" id="update-description" name="description"></textarea>
            </div>
            <button type="submit" class="custom-updatepost-btn m-1 p-2 rounded-2">Submit</button>
            <button type="button" class="m-1 p-2 rounded-2" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
    
<script src="/js/dashboard.js"></script>