{{#if logged_in}}
<div class="custom-singlepost container-fluid m-2">
    <h2 class="m-3">{{post.title}}</h2>
    <div class="card w-75">
        <div class="card-header d-flex flex-row justify-content-between">
            <h4 class="m-2">By: {{post.user.username}}</h4>
            <p class="m-2">{{ formatDate post.createdAt}}</p>
        </div>
        <div class="card-body">{{post.description}}</div>
        <div class="card-footer">
            <button type="button" class="m-3 p-2 text-light rounded-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Add Comment
            </button>
            <button class="custom-viewcomment-btn m-3 p-2 text-light rounded-2">{{post.totalComments}} Comments</button>
        </div>
    </div>
    <div class="custom-comments w-50">
        <h3 class="m-3">Comments</h3>
        {{#each post.comments as |comment|}}
        <div class="custom-single-comment bg-light m-2 rounded-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="m-2 fst-italic">{{comment.user.username}}</p>
                <p class="m-2">{{formatDate comment.createdAt}}</p>
            </div>
            <p class="m-2">{{comment.description}}</p>
        </div>
        {{/each}}
    </div>  
</div>
{{/if}}
{{!-- <div class="container-fluid">
    <h3 class="text-warning">Kindly login to read a news post or article</h3>
</div> --}}


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="custom-commentform">
            <div class="m-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea class="form-control border border-dark" id="comment" name="comment"></textarea>
            </div>
            <div>
                <button type="submit" class="custom-postcomment-btn m-3 p-1 text-light rounded-2">Post</button>
                <button type="button" class="custom-close-comment-btn m-3 p-1 text-light rounded-2" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
        
<script src="/js/singlepost.js"></script>
